{% extends 'base.html.twig' %}

{% block title %}Administration des categories{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="my-5">Gestion des categories</h1>

    <table class="table table-over">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in paginator.data %}
            <tr>
                <td>{{category.id}}</td>
                <td>{{category.name}}</td>
                <td>
                    <a href="{{ path('admin_category_edit', {'id': category.id}) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                    <a href="{{ path('admin_category_delete', {'id': category.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<a href="{{ path('admin_category_create') }}"><button class="btn btn-primary mb-3">Ajouter une catégorie</button></a>
    {{ paginator.display() }}
</div>
{% endblock %}