{% extends 'base.html.twig' %}

{% block title %}Édition d'un plat{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="bg-light py-3 px-3">
                <h1 class="my-5">Modification d'un plat</h1>
                {{ form_start(form) }}
                <div class="row">
                    <div class="col">
                        <div class="alert alert-light">
                            <h2 class="alert-heading">Information sur le plat</h2>
                            <hr> 
                            {{ form_row(form.name) }}
                            {{ form_row(form.price) }}
                            {% if form.image.vars.value.id is defined %}
                            <img src="{{ asset('images/upload/')~form.image.vars.value.name }}" alt="Image du plat">
                            {{ form_row(form.image, { 'label': 'Modifier l\'image' }) }}
                            {% else %}
                            {{ form_row(form.image) }}
                            {% endif %}
                            {{ form_row(form.category) }}
                            <h2 class="alert-heading">Confirmation</h2>
                            <hr>
                            <button type="submit" class="btn btn-success">
                                <i class="fas fa-check"></i> 
                                Modifier !
                            </button>
                        </div>   
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}